@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Mukta, sans-serif;
    font-weight: 400;
    color: #858E83;
}

/* headings and logo */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #222522;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation menu links */

#menu {
    font-size: 120%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #858E83;
    border: 2px solid ;
}

.active {
    border: 2px solid;
    color: 858E83;
}