@import url(@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 500;
    color: #858E83;
}

/* headings and logo */

h1, h2 {
    font-family: roboto-slab, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(18, 172, 64);
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation menu links */

#menu {
    font-size: 120%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #6F7C77;
}

#menu a:hover {
    color: #6F7C77;
    border: 2px solid ;
}

.active {
    border: 2px solid;
    color: #858E83;
}

/* hero-image and cover-text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg')no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

/* create zoom level for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 120%;
    font-family: roboto-slab, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    
    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(rgba(255, 0, 0, 0.7));

    bottom: 30px;
    left: 150px;

    position: absolute;
}